<main>
    <div class="col-md-8">
        <div class="container">
            <div class='row'></div>
            {{#each blogs as | data | }}
            <div class="card col-lg-12 d-flex flex-wrap justify-content-center">
                <a href='/api/blogRoute/{{data.id}}'>
                    <h3> {{data.blogName}} <span hidden>{{data.id}} </span>
                </a> <small> on {{format_date data.dateCreated}} by {{data.user.name}} </small> </h3>
                <p>{{data.content}}</p> </a>
            </div>
            {{/each}}

        </div>
    </div>
</main>
<script src="/js/blog.js"></script>